<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576866932659-cutjs16llh22ea8jq1okigpo7loijjd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576866932659-cutjs16llh22ea8jq1okigpo7loijjd8</string>
	<key>API_KEY</key>
	<string>AIzaSyCdoTYlygfGmtJLx2RDm0wHtdNGbtKbYhs</string>
	<key>GCM_SENDER_ID</key>
	<string>576866932659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nsvegur.gossipBox</string>
	<key>PROJECT_ID</key>
	<string>gossip-box</string>
	<key>STORAGE_BUCKET</key>
	<string>gossip-box.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576866932659:ios:41544afa373a8a91c9ddc6</string>
</dict>
</plist>